@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #4f46e5;
  --color-primary-light: #818cf8;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
